{%load static%}
<html id="html" data-bs-theme="dark">    
    <head>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" crossorigin="anonymous">
        <link href="{% static 'fontawesome-free-6.4.2-web/css/fontawesome.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesome-free-6.4.2-web/css/brands.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesome-free-6.4.2-web/css/solid.css' %}" rel="stylesheet">

        <style>
            .elipses-overflow {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        </style>
    </head>
    <body> 
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Jobie's Home Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link{%if request.resolver_match.url_name == 'home'%} active" aria-current="page"{%else%}"{%endif%} href="{%url 'home'%}">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{%if request.resolver_match.url_name == 'emergy'%} active" aria-current="page"{%else%}"{%endif%} href="{%url 'energy'%}">Energy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Heating</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Plex</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Timeline</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Garden</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav> 

        {%block body%}
        
        {%endblock%}
    </body>
</html>